body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

text,
span,
p {
    user-select: none;
}

p {
    display: inline;
}

li {
    user-select: none;
    list-style-type: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

li {
    padding: .3rem;
}

.date {
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.date span,
.date p {
    opacity: .7;
    font-size: .7rem;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#wrapper svg {
    /* transform: translate(0px, -15rem); */
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
}

.pharmacy-card {
    display: flex;
    flex-direction: column;
}

.pharmacy-info {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: .8rem;
    gap: 1px;
}

.pharmacy-info:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.pharmacy-info span {
    color: #30817A;
}

.navigation {
    width: 50%;
    padding: .2rem;
    background-color: #1cac78;
    border: 1px solid #1cac78;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    align-self: center;

    opacity: .4;
}

.filters {
    display: flex;
}

.district {
    stroke: #30817A;
    stroke-width: .3;
}

.district-text {
    text-anchor: middle;
    font-size: 1rem;
    fill: #191919;
}



/*  mobile  */
@media only screen and (max-width: 767px) {

    #wrapper {
        overflow-x: auto;
    }

    .district {
        stroke: #30817A;
        stroke-width: .1;
    }

    .district-text {
        font-size: .3rem;
    }

}

/*  tablet  */
@media only screen and (min-width: 768px) and (max-width: 1199px) {}