body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

text,
span,
p {
    user-select: none;
}

p {
    display: inline;
}

li {
    user-select: none;
    list-style-type: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

li {
    padding: .3rem;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#wrapper svg {
    /* transform: translate(0px, -15rem); */
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
}

.pharmacy-card {
    display: flex;
    flex-direction: column;
}

.pharmacy-info {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: .8rem;
    gap: 1px;
}

.pharmacy-info:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.pharmacy-info span {
    color: #30817A;
}

.navigation {
    width: 50%;
    padding: .2rem;
    background-color: #1cac78;
    border: 1px solid #1cac78;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

.filters {
    display: flex;
}

.district {
    stroke: #30817A;
    stroke-width: .3;
}

.district-text {
    text-anchor: middle;
    font-size: 1rem;
    fill: #191919;
}



/*  mobile  */
@media only screen and (max-width: 767px) {

    #wrapper {
        overflow-x: auto;
    }

    #wrapper svg {
        width: 1000px;
        height: 600px;
        transform: translate(0px, 135px);
    }

    #wrapper svg .bounds,
    #wrapper svg .annotation-group {
        transform: translate(-50px, -225px);
    }

    .title-group {
        width: 100%;
        top: 0;
        gap: 0;
        background-color: #fff;
    }

    .title {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .total {
        font-size: 1rem;
    }

    .legend {
        font-size: .8rem;
        padding: 1rem 0;
        gap: .5rem;
    }

    .rect-wrapper {
        padding-left: .5rem;
    }

    .district-text {
        font-size: .6rem;
    }

    .metric-text {
        font-size: 1.2rem;
    }

    .annotation-note-label {
        font-size: .6rem;
    }

    .annotation-note-title {
        font-size: 1.2rem;
    }

}

/*  tablet  */
@media only screen and (min-width: 768px) and (max-width: 1199px) {}